@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,900&display=swap&subset=cyrillic");
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

iframe,
figure {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-y: scroll !important;
}

body {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.4rem;
  margin: 0;
  overflow-x: hidden;
  color: #2E3747;
}

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-weight: bold;
}

.img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-full {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container-full {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.link {
  color: #FFC700;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}

.link:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

img {
  color: transparent;
}

.burger {
  cursor: pointer;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 50;
}

.burger .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5;
  stroke-linecap: round;
}

.burger .top {
  stroke-dasharray: 40 82;
}

.burger .middle {
  stroke-dasharray: 40 111;
}

.burger .bottom {
  stroke-dasharray: 40 161;
}

.burger.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}

.burger.active .middle {
  stroke-dashoffset: 23px;
}

.burger.active .bottom {
  stroke-dashoffset: -83px;
}

.burger.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header {
  padding-top: 2rem;
}

header.main {
  position: relative;
  background: #F2F3FA url("../img/header/background.jpg") center/cover no-repeat;
  background-attachment: fixed;
  min-height: 110vh;
  color: #fff;
  z-index: 0;
  overflow: hidden;
}

header.main .wave {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@media (max-height: 700px) {
  header.main .wave {
    bottom: -5%;
  }
}

header.main h1 {
  font-size: 6vh;
  max-width: 60vh;
  line-height: 1.5;
}

header.main h1 .bold {
  line-height: 1.2;
}

@media screen and (max-width: 780px) {
  header.main h1 {
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 560px) {
  header.main h1 {
    text-align: center;
    font-size: 5vh;
    max-width: 50vh;
  }
}

header.main ul {
  margin: 5rem 0;
  font-size: 1.6rem;
}

header.main ul li {
  margin-bottom: 1.5rem;
}

header.main ul li:before {
  content: '';
  display: inline-block;
  width: 4.4rem;
  height: 4.4rem;
  margin-right: 1rem;
  background: #fff;
  opacity: .5;
  border-radius: 10rem;
  border: 2px dashed #fff;
  padding: .6rem;
  background-clip: content-box;
  /* support: IE9+ */
  background-color: #fff;
  vertical-align: middle;
}

header.main ul li.active {
  font-weight: bold;
}

header.main ul li.active:before {
  opacity: 1;
  background-color: #FFC700;
  border-color: #FFC700;
}

@media (max-width: 1100px) {
  header.main ul {
    font-size: 1.4rem;
    margin: 3rem 0;
  }
  header.main ul li:before {
    width: 4rem;
    height: 4rem;
  }
}

@media (max-width: 340px) {
  header.main ul {
    font-size: 1.3rem;
  }
  header.main ul li:before {
    width: 3rem;
    height: 3rem;
    padding: .5rem;
  }
}

header.main .relative {
  position: relative;
}

@media screen and (max-width: 780px) {
  header.main .relative {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header.main .man {
  position: absolute;
  left: 22vw;
  bottom: -4vh;
  z-index: -1;
}

@media (max-width: 1450px) {
  header.main .man {
    -webkit-transform: scale(0.8) !important;
            transform: scale(0.8) !important;
  }
}

@media (max-width: 1100px), (max-height: 729px) {
  header.main .man {
    bottom: -10vh;
  }
}

@media (max-width: 991px) {
  header.main .man {
    display: none;
  }
}

header navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  header navbar .logo {
    max-width: 80px;
  }
}

header navbar .line {
  background: rgba(255, 255, 255, 0.5);
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  margin: 1rem 3rem;
}

header navbar .right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header navbar .right-block .phone {
  font-size: 2.5rem;
}

header navbar .right-block .burger {
  margin-left: 1rem;
}

header navbar .messenger-wrapper {
  position: relative;
}

@media screen and (max-width: 780px) {
  header navbar .messenger-wrapper {
    display: none;
  }
}

header navbar .messenger-wrapper .messengers {
  position: absolute;
  bottom: -100%;
  right: 0;
  margin: -.2rem;
}

header .social-wrapper {
  position: absolute;
  display: inline-block;
  right: 0;
}

@media (max-height: 820px) {
  header .social-wrapper {
    bottom: 4vh;
  }
}

@media (max-height: 800px) and (max-width: 1400px) and (min-width: 1101px) {
  header .social-wrapper {
    bottom: 18vh;
  }
}

header .social-wrapper .title {
  text-align: left;
  color: #919DAB;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

header .social-wrapper .title:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #919DAB;
  margin-left: 1rem;
}

header .social-wrapper .social {
  margin: 0 -1rem;
}

header .social-wrapper .social a {
  margin: 1rem;
}

header .social-wrapper .social a img {
  -webkit-transition: .6s;
  transition: .6s;
}

@media (max-height: 790px) {
  header .social-wrapper .social a img {
    height: 6rem;
  }
}

header .social-wrapper .social a img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

header .social-wrapper .social a img:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (max-width: 780px) {
  header .social-wrapper .social .vk img,
  header .social-wrapper .social .facebook img,
  header .social-wrapper .social .inst img {
    -webkit-filter: brightness(10) contrast(1);
            filter: brightness(10) contrast(1);
  }
}

@media screen and (max-width: 780px) {
  header .social-wrapper {
    margin-top: 3rem;
    position: relative;
  }
  header .social-wrapper .title {
    color: #fff;
  }
  header .social-wrapper .title:after {
    background-color: #fff;
  }
}

#compass {
  position: relative;
  width: 15rem;
  height: 15rem;
  -webkit-transition: .6s;
  transition: .6s;
}

#compass .niddle {
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 30px);
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-height: 900px) {
  #compass {
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (max-width: 780px) {
  #compass {
    display: none;
  }
}

.logo img {
  -webkit-transition: .5s;
  transition: .5s;
}

.logo img:hover {
  -webkit-filter: hue-rotate(-25deg);
          filter: hue-rotate(-25deg);
}

.messengers a {
  margin: 0.2rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.messengers a img {
  -webkit-transition: .6s;
  transition: .6s;
}

.messengers a:hover img {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.messengers a:active img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
}

.btn.btn-primary {
  background-color: #FFC700;
  font-weight: bold;
  color: #2E3747;
  -webkit-box-shadow: 0px 3px 4px rgba(255, 199, 0, 0.75);
          box-shadow: 0px 3px 4px rgba(255, 199, 0, 0.75);
  min-width: 18rem;
  padding: 1.4rem 2rem;
}

.btn.btn-primary:hover {
  -webkit-box-shadow: 0px 3px 4px rgba(255, 199, 0, 0.75), inset 0px -10px 15px 0 rgba(255, 255, 255, 0.5);
          box-shadow: 0px 3px 4px rgba(255, 199, 0, 0.75), inset 0px -10px 15px 0 rgba(255, 255, 255, 0.5);
}

.btn.btn-primary:active {
  -webkit-box-shadow: 0px 0px 4px rgba(255, 199, 0, 0.75);
          box-shadow: 0px 0px 4px rgba(255, 199, 0, 0.75);
}

@media screen and (max-width: 560px) {
  .btn.btn-primary {
    min-width: 12rem;
    font-size: 1.2rem;
    padding: 1.2rem 1.6rem;
  }
}

.btn.btn-unactive {
  background-color: #AAB2C1 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  cursor: default;
}

.section-title {
  text-align: center;
  position: relative;
  z-index: 0;
  margin-bottom: 10rem;
}

.section-title .h2 {
  font-weight: 900;
  font-size: 5.2vh;
  color: #2E3747;
  position: relative;
  margin-bottom: 2rem;
}

.section-title .h2.decorations {
  margin: 10rem 0;
}

.section-title .h2.decorations:after {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 780px) {
  .section-title .h2.decorations:after {
    display: none;
  }
}

.section-title .h2.decorations.plane:after {
  content: url("../img/poster-section/header-decor.svg");
}

.section-title .h2.decorations.camera:after {
  content: url("../img/gallery-section/header-decor.svg");
}

.section-title .h2.decorations.enjoy:after {
  content: url("../img/reviews-section/header-decor.svg");
}

.section-title .h2.decorations.smile:after {
  content: url("../img/about-section/header-decor.svg");
}

.section-title .h2.decorations.faq:after {
  content: url("../img/faq-section/header-decor.svg");
}

.section-title .wall-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  z-index: -1;
}

.trips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (max-width: 1100px) {
  .trips {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.trips .trip {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(155, 155, 155, 0.15);
          box-shadow: 0px 10px 20px rgba(155, 155, 155, 0.15);
  border-radius: 1rem;
  overflow: hidden;
  -webkit-transition: .4s;
  transition: .4s;
  margin-bottom: 3rem;
  max-width: 40rem;
}

@media screen and (max-width: 1100px) {
  .trips .trip {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 780px) {
  .trips .trip {
    width: calc(100% - 30px);
  }
}

.trips .trip.unactive img {
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

.trips .trip .img-wrapper {
  overflow: hidden;
  display: block;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 208px;
}

.trips .trip .img-wrapper img {
  -webkit-transition: 2s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.trips .trip .head,
.trips .trip .body {
  padding: 1.5rem 3rem;
}

.trips .trip .foot {
  padding: 1.8rem 3rem 3rem 3rem;
}

@media (max-width: 359px) {
  .trips .trip .foot .pair {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.trips .trip .head,
.trips .trip .body {
  border-bottom: 1px solid #F2F3FA;
}

.trips .trip .description {
  color: #7C879C;
  margin-bottom: 1.8rem;
}

.trips .trip .pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -.5rem;
}

.trips .trip .price {
  font-size: 1.8rem;
  font-weight: bold;
}

.trips .trip .seats-number {
  font-size: 1.2rem;
  color: #AAB2C1;
}

.trips .trip .left-side {
  margin: .5rem;
}

.trips .trip .btn {
  margin: .5rem;
}

.trips .trip:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0px 15px 20px rgba(155, 155, 155, 0.15);
          box-shadow: 0px 15px 20px rgba(155, 155, 155, 0.15);
}

.trips .trip:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.raiting {
  background-color: #fff;
  background: #F2F3FA;
  border-radius: 10px;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
}

@media (max-width: 1100px) {
  .raiting {
    padding: 1.5rem;
  }
}

.raiting .pair .bold,
.raiting .pair .stars-wrapper {
  margin: .5rem;
}

.raiting .stars-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.raiting .count {
  color: #AAB2C1;
  margin-right: .5rem;
}

@media (max-width: 359px) {
  .raiting .count {
    display: none;
  }
}

.raiting .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -2px;
}

.raiting .stars li {
  display: inline-block;
  height: 1.6rem;
  width: 1.6rem;
  background: url("../img/global-icons/star-primary.svg") center/contain no-repeat;
  margin: 2px;
}

.raiting .stars li.gray-star {
  background-image: url("../img/global-icons/star-gray.svg");
}

.date {
  font-size: 1.2rem;
  color: #7C879C;
}

#poster {
  padding-bottom: 33rem;
}

.h4 {
  font-size: 1.8rem;
  font-weight: bold;
}

.section {
  position: relative;
}

.section:before {
  content: '';
  position: absolute;
  top: 1px;
  width: 100%;
  height: 120px;
  background-size: cover;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#gallery {
  padding-top: 5rem;
  padding-bottom: 35rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#2AC2D4), color-stop(32.81%, rgba(42, 194, 212, 0))), url("../img/gallery-section/sprite-new.png"), #2AC2D4;
  background: linear-gradient(180deg, #2AC2D4 0%, rgba(42, 194, 212, 0) 32.81%), url("../img/gallery-section/sprite-new.png"), #2AC2D4;
}

#gallery:before {
  content: url("../img/gallery-section/wave.svg");
  height: 280px;
}

#gallery .h2 {
  color: #fff;
}

@media screen and (max-width: 780px) {
  #gallery .section-title {
    margin-top: -25rem;
  }
}

.archive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.archive .image-folder {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 780px) {
  .archive .image-folder {
    width: calc(100% - 30px);
  }
}

.archive .image-folder .img-wrapper {
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 250px;
  position: relative;
  cursor: pointer;
}

.archive .image-folder .img-wrapper img {
  -webkit-transition: 1s;
  transition: 1s;
}

.archive .image-folder .img-wrapper:before {
  overflow: hidden;
  content: url("../img/global-icons/see-galery.svg");
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1;
}

.archive .image-folder .img-wrapper:after {
  content: 'галлерею путешествия';
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.4rem;
  color: #fff;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  white-space: nowrap;
}

.archive .image-folder .img-wrapper:hover img {
  -webkit-filter: brightness(0.8) blur(8px);
          filter: brightness(0.8) blur(8px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.archive .image-folder .img-wrapper:hover:after, .archive .image-folder .img-wrapper:hover:before {
  opacity: 1;
}

.archive .image-folder .body {
  padding: 1rem 4rem;
  padding-right: 2rem;
  background-color: #fff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@media screen and (max-width: 780px) {
  .archive .image-folder .body {
    padding: 1rem 2rem;
  }
}

.archive .image-folder .body .pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -.5rem;
}

.archive .image-folder .body .pair .title,
.archive .image-folder .body .pair .phots-count {
  margin: .5rem;
}

.archive .image-folder .body .phots-count {
  white-space: nowrap;
}

@media screen and (max-width: 780px) {
  .archive .image-folder .body .phots-count {
    font-size: 1rem;
  }
}

@media (max-width: 359px) {
  .archive .image-folder .body .phots-count {
    display: none;
  }
}

.archive .image-folder .phots-count {
  width: 7rem;
  height: 7rem;
  background-color: #F2F3FA;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  color: #AAB2C1;
}

.archive .image-folder .phots-count:before {
  content: url("../img/global-icons/camera.svg");
  display: block;
}

#reviews {
  padding-bottom: 31rem;
}

#reviews:before {
  content: url("../img/reviews-section/wave.svg");
  height: 360px;
}

#reviews .super-slider {
  margin-top: 13rem;
  height: 320px;
  background-color: #F2F3FA;
}

.h3 {
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

#about {
  padding-top: 5rem;
  padding-bottom: 35rem;
  color: #fff;
  background-color: #7081FF;
  background: -webkit-gradient(linear, left top, left bottom, from(#7081FF), color-stop(32.81%, rgba(42, 194, 212, 0))), url("../img/gallery-section/sprite-new.png"), #7081FF;
  background: linear-gradient(180deg, #7081FF 0%, rgba(42, 194, 212, 0) 32.81%), url("../img/gallery-section/sprite-new.png"), #7081FF;
}

#about .h2 {
  color: #fff;
}

#about:before {
  content: url("../img/about-section/wave.svg");
  height: 285px;
}

#about .bio-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .bio-row .picture {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  position: relative;
  margin-bottom: 4rem;
}

@media screen and (max-width: 780px) {
  #about .bio-row .picture {
    width: calc(100% - 30px);
  }
}

#about .bio-row .picture .bubble-alex {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 3s cubic-bezier(0.77, -0.43, 0.15, 1.69);
  transition: 3s cubic-bezier(0.77, -0.43, 0.15, 1.69);
}

#about .bio-row .picture .bubble-alex:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#about .bio-row .picture .social {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-animation: 10s cubic-bezier(0.77, -0.43, 0.15, 1.69) scaling-bubble infinite;
          animation: 10s cubic-bezier(0.77, -0.43, 0.15, 1.69) scaling-bubble infinite;
}

#about .bio-row .picture .social .links-wrapper {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(-40%, -60%);
          transform: translate(-40%, -60%);
  margin: -.6rem;
}

#about .bio-row .picture .social .links-wrapper a img {
  height: 4.4rem;
  width: 4.4rem;
}

@-webkit-keyframes scaling-bubble {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaling-bubble {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#about .bio-row .text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

@media screen and (max-width: 780px) {
  #about .bio-row .text {
    width: calc(100% - 30px);
  }
}

#about .bio-row .text p {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}

ul.primary-style {
  margin-left: 5rem;
}

ul.primary-style li {
  margin-bottom: 1.5rem;
}

ul.primary-style li:before {
  content: '';
  display: inline-block;
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 1rem;
  background: #fff;
  border-radius: 10rem;
  border: 1px dashed #fff;
  padding: .2rem;
  background-clip: content-box;
  /* support: IE9+ */
  background-color: #fff;
  vertical-align: middle;
  margin-left: -3rem;
}

#faq {
  padding-bottom: 35rem;
}

#faq:before {
  content: url("../img/faq-section/wave.svg");
  height: 460px;
}

.faq-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq-row .accordions {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(58.33333% - 30px);
  margin-bottom: 4rem;
}

@media screen and (max-width: 780px) {
  .faq-row .accordions {
    width: calc(100% - 30px);
  }
}

.faq-row .accordions .accordion {
  overflow: hidden;
  border-radius: 4rem;
  margin-bottom: 1rem;
}

.faq-row .accordions .accordion .head {
  border-radius: 4rem;
  min-height: 8rem;
  background-color: #FFC700;
  padding: 1rem 8rem 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  position: relative;
  cursor: pointer;
  -webkit-transition: .6s;
  transition: .6s;
}

.faq-row .accordions .accordion .head:hover .toggler:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq-row .accordions .accordion .head:hover .toggler:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.faq-row .accordions .accordion .head .toggler {
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq-row .accordions .accordion .head .toggler:before, .faq-row .accordions .accordion .head .toggler:after {
  content: '';
  width: 34px;
  height: 6px;
  border-radius: 50px;
  background-color: #FFC700;
  -webkit-transition: .6s;
  transition: .6s;
}

.faq-row .accordions .accordion .head .toggler:after {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.faq-row .accordions .accordion .content {
  display: none;
  opacity: 0;
  -webkit-transition: .6s;
  transition: .6s;
  background: #F2F3FA;
  border-top: 1px solid #fff;
  padding: 1.5rem 3rem 2rem 3rem;
  color: #7C879C;
}

.faq-row .accordions .accordion .content ul li:before {
  background-color: #7C879C;
  border-color: #7C879C;
}

.faq-row .accordions .accordion.active .head {
  background-color: #F2F3FA;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #2E3747;
}

.faq-row .accordions .accordion.active .head:hover .toggler:before {
  -webkit-transform: none;
          transform: none;
}

.faq-row .accordions .accordion.active .head .toggler:after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.faq-row .accordions .accordion.active .content {
  display: block;
  opacity: 1;
}

.faq-row .sidebar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66667% - 30px);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media screen and (max-width: 780px) {
  .faq-row .sidebar {
    width: calc(100% - 30px);
  }
}

.faq-row .sidebar .parallax {
  position: relative;
}

.faq-row .sidebar .parallax .bird {
  position: absolute;
  top: 20% !important;
  left: 5% !important;
}

.test {
  height: 800px;
}

.social a {
  margin: .5rem;
}

.social a img {
  -webkit-transition: .3s;
  transition: .3s;
}

.social a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social a img:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

footer {
  position: relative;
  padding: 1.5rem 0 5rem;
  background-color: #303E45;
  color: #fff;
}

footer .mail,
footer .phone {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  display: inline-block;
}

footer .messenger-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .messenger-wrapper .messengers {
  margin: -.2rem 0;
  margin-left: .5rem;
}

footer .social {
  margin: 1rem -.5rem 2rem -.5rem;
}

footer .small {
  font-size: 1.2rem;
}

footer::before {
  content: '';
  position: absolute;
  top: 1px;
  width: 100%;
  height: 120px;
  background: url("../img/footer/wave.svg");
  background-size: cover;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

footer .title {
  font-size: 2.8rem;
  color: #FFC700;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 960px) {
  footer .title {
    font-size: 2.1rem;
  }
}

footer .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

footer .footer-row .column-1,
footer .footer-row .column-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

@media screen and (max-width: 780px) {
  footer .footer-row .column-1,
  footer .footer-row .column-2 {
    width: calc(100% - 30px);
  }
}

.input-wrapper input,
.input-wrapper textarea {
  width: 100%;
  padding: 1.5rem 3rem;
  color: #7C879C;
  -webkit-transition: .3s;
  transition: .3s;
  background: #F8F8F8;
  border: 2px solid #F2F3FA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5rem;
}

@media screen and (max-width: 560px) {
  .input-wrapper input,
  .input-wrapper textarea {
    padding: 1.4rem 1.8rem;
  }
}

.input-wrapper input:hover,
.input-wrapper textarea:hover {
  -webkit-box-shadow: 0px 0px 5px #FFC700;
          box-shadow: 0px 0px 5px #FFC700;
}

.input-wrapper input:focus,
.input-wrapper textarea:focus {
  border-color: #FFC700;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -1rem;
  margin-bottom: 1rem;
}

.subscribe-form .input-wrapper {
  width: 100%;
}

.subscribe-form .input-wrapper,
.subscribe-form .btn {
  margin: 1rem;
}

.block {
  display: block;
}

.md-block {
  display: block;
}

@media screen and (max-width: 960px) {
  .md-block {
    display: inline-block;
  }
}

.text-center {
  text-align: center;
}

.primary {
  color: #FFC700;
}

.bold {
  font-weight: 900;
}
/*# sourceMappingURL=style.css.map */