@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,900&display=swap&subset=cyrillic');

// 12 column grid
@import 'partials/smart-grid';
// Normalize
@include reset();

//Vars
$primary: #FFC700;

$white: #fff;
$black: #2E3747;

$gray: #F2F3FA;
$deep-gray:  #7C879C;

$input-color: #F8F8F8;
$input-border: #F2F3FA;

$iphone-5: 359px;
$sm-desctop: 1100px;

// Base
*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

iframe,
figure {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-y: scroll!important;
}

body {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 1.4rem;
    margin: 0;
    overflow-x: hidden;
    color: $black;
}
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    font-weight: bold;
}

.img-wrapper img {
    object-fit: cover;
    max-height: 100%;
}

.container {
    @include wrapper();
}

.container-full {
    @include wrapper-full();
}

.link {
    color: $primary;
    display: inline-block;
    transition: .3s;
    &:hover {
        filter: opacity(.7);
    }
}

img {
    color: transparent;
}

// Burger
.burger {
    cursor: pointer;
    transition: transform 400ms;
    user-select: none;
    z-index: 50;
    .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: $white;
        stroke-width:5;
        stroke-linecap:round;
    }
    .top {
        stroke-dasharray: 40 82;
    }
    .middle {
        stroke-dasharray: 40 111;
    }
    .bottom {
        stroke-dasharray: 40 161;
    }
    &.active .top {
        stroke-dasharray: 17 82;
        stroke-dashoffset: -62px;
    }
    &.active .middle {
        stroke-dashoffset: 23px;
    }
    &.active .bottom {
        stroke-dashoffset: -83px;
    }
    &.active {
        transform: rotate(45deg);
    }
}


.wave {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    @media (max-height: 700px) {
        bottom: -5%;
    }
}
header {
    padding-top: 2rem;
    &.main {
        position: relative;
        background: $gray url('../img/header/background.jpg') center / cover no-repeat;
        background-attachment: fixed;
        min-height: 110vh;
        color: $white;
        z-index: 0;
        overflow: hidden;
        h1 { 
            font-size: 6vh;
            max-width: 60vh;
            .bold {
                line-height: 1.2;
            }
            line-height: 1.5;
            @include sm-block() {
                text-align: center;
                margin: auto;
            };
            @include xs-block() {
                text-align: center;
                font-size: 5vh;
                max-width: 50vh;
            };
        }
        ul {
            margin: 5rem 0;
            font-size: 1.6rem;
            li {
                margin-bottom: 1.5rem;
                &:before {
                    content: '';
                    display: inline-block;
                    width: 4.4rem;
                    height: 4.4rem;
                    margin-right: 1rem;
                    background: $white;
                    opacity: .5;
                    border-radius: 10rem;
                    border: 2px dashed $white;
                    padding: .6rem;
                    background-clip: content-box; /* support: IE9+ */
                    background-color: $white;
                    vertical-align: middle;
                }
                &.active {
                    font-weight: bold;
                    &:before {
                        opacity: 1;
                        background-color: $primary;
                        border-color: $primary;
                    }
                }
            }
            @media (max-width: $sm-desctop) {
                font-size: 1.4rem;
                margin: 3rem 0;
                li {
                    &:before {
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
            @media (max-width: 340px) {
                font-size: 1.3rem;
                li {
                    &:before {
                        width: 3rem;
                        height: 3rem;
                        padding: .5rem;
                    }
                }
            }
        }
        .relative {
            position: relative;
            @include sm-block() {
                display: flex;
                flex-direction: column;
                align-items: center;
            };
        }
        .man {
            position: absolute;
            left: 22vw;
            bottom: -4vh;        
            z-index: -1;
            @media (max-width: 1450px) {
                transform: scale(.8)!important;
            }
            @media (max-width: 1100px), (max-height: 729px) {
                bottom: -10vh;
            }
            @media (max-width: 991px) {
                display: none;
            }
        }
    }
    navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            @media (max-width: 500px) {
                max-width: 80px;
            }
        }
        .line {
            background: rgba($white, .5);
            height: 1px;
            flex: 1 1 100px;
            margin: 1rem 3rem;
        }
        .right-block{
            display: flex;
            align-items: center;
            .phone {
                font-size: 2.5rem;
            }
            .burger {
                margin-left: 1rem;
            }
        }
       
        .messenger-wrapper {
            position: relative;
            @include sm-block() {
                display: none;
            }
            .messengers {
                position: absolute;
                bottom: -100%;
                right: 0;
                margin: -.2rem;
            }
        }
    }
    .social-wrapper {
        position: absolute;
        display: inline-block;
        right: 0;
        @media (max-height: 820px) {
            bottom: 4vh;
        }
        @media (max-height: 800px) and (max-width: 1400px) and (min-width: 1101px){
            bottom: 18vh;
        }
        .title {
            text-align: left;
            color: #919DAB;
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            &:after {
                content: '';
                display: inline-block;
                width: 100%;
                height: 1px;
                background-color: #919DAB;
                margin-left: 1rem;
            }
        }
        .social {
            margin: 0 -1rem;
            a {
                margin: 1rem;
                img {
                    transition: .6s;
                    @media (max-height: 790px) {
                        height: 6rem;
                    }
                    &:hover {
                        transform: rotate(360deg);
                    } 
                    &:active {
                        transform: scale(.9);
                    }
                }
            }
            @include sm-block() {
                .vk,
                .facebook ,
                .inst {
                    img {
                        filter: brightness(10) contrast(1);
                    }
                }
            }
        }
        @include sm-block() {
            margin-top: 3rem;
            position: relative;
            .title {
                color: $white;
                &:after {
                    background-color: $white;
                }
            }
        }
    }
}
// Compass
#compass {
    position: relative;
    width: 15rem;
    height: 15rem;
    transition: .6s;
    .niddle {
        position: absolute;
        top: calc(50% - 36px);
        left:  calc(50% - 30px);
        transition: .2s;
    }
    @media (max-height: 900px) {
       visibility: hidden;
       opacity: 0;
    }
    @include sm-block() {
       display: none;
    }
}
//LOGO
.logo {
    img{
        transition: .5s;
        &:hover {
            filter: hue-rotate(-25deg);
        }
    }
}
// Messengers
.messengers {
    a {
        margin: 0.2rem;
        transition: .3s;
        img {
            transition: .6s;
        }
        &:hover {
            img {
                transform: rotate(360deg);
            }
        }
        &:active {
            img {
                transform: scale(.9);
            }
        }
    }
}

// Buttons
.btn {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    transition: .3s;
    text-align: center;
    &.btn-primary {
        background-color: $primary;
        font-weight: bold;
        color: $black;
        box-shadow: 0px 3px 4px rgba($primary, 0.75);
        min-width: 18rem;
        padding: 1.4rem 2rem;
        &:hover {
            box-shadow: 0px 3px 4px rgba($primary, 0.75),
                    inset 0px -10px 15px 0 rgba($white,0.5);
        }
        &:active {
            box-shadow: 0px 0px 4px rgba($primary, 0.75);
        }
        @include xs-block() {
            min-width: 12rem;
            font-size: 1.2rem;
            padding: 1.2rem 1.6rem;
        }
    }
    &.btn-unactive {
        background-color: #AAB2C1!important;
        box-shadow: none!important;
        cursor: default;
    }
}
// Titles
.section-title {
    text-align: center;
    position: relative;
    z-index: 0;
    margin-bottom: 10rem;
    .h2 {
        font-weight: 900;
        //font-size: 5.2rem;
        font-size: 5.2vh;
        color: $black;
        position: relative;
        margin-bottom: 2rem;
        &.decorations{
            margin: 10rem 0;
            &:after {
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include sm(display, none);
            }
            &.plane:after {
                content: url('../img/poster-section/header-decor.svg');
            }
        }
    }
    .wall-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        z-index: -1;
    }
}

//Section Poster
.trips {
    @include row-flex();
    @include lg(justify-content, center);

    .trip {
        @include col();
        @include size(4);
        @include size-lg(6);
        @include size-sm(12);

        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(155, 155, 155, 0.15);
        border-radius: 1rem;
        overflow: hidden;
        transition: .4s;
        margin-bottom: 3rem;
        max-width: 40rem;
        &.unactive {
            img {
                filter: saturate(0);
            }
        }
        .img-wrapper {
            overflow: hidden;  
            display: block;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            height: 208px;
            img {
                transition: 2s cubic-bezier(0.65, 0.05, 0.36, 1);
                height: 100%;
                width: 100%;
            }
        }
        .head,
        .body {
            padding: 1.5rem 3rem;
        }
        .foot {
            padding: 1.8rem 3rem 3rem 3rem;
            .pair {
                @media (max-width: $iphone-5) {
                    flex-wrap: wrap;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
        .head,
        .body {
            border-bottom: 1px solid $gray;
        }
        .date {
            font-size: 1.2rem;
            color: $deep-gray;
        }
        .title {
            font-size: 1.8rem;
            font-weight: bold;
        }
        .description {
            color: $deep-gray;
            margin-bottom: 1.8rem; 
        }
        .pair {
            display: flex;
            justify-content: space-between;
            margin: -.5rem;
        }
        .price {
            font-size: 1.8rem;
            font-weight: bold;
        }
        .seats-number {
            font-size: 1.2rem;
            color: #AAB2C1;
        }
        .left-side {
            margin: .5rem;
        }
        .btn {
            margin: .5rem;
        }
        &:hover {
            transform: translateY(-0.5rem);
            box-shadow: 0px 15px 20px rgba(155, 155, 155, 0.15);
            img {
                transform: scale(1.1);
            }
        }
    }
}
.raiting {
    background-color: #fff;
    background: $gray;
    border-radius: 10px;
    padding: 1.5rem 3rem;
    @media (max-width: 1100px) {
        padding: 1.5rem;
    }
    font-size: 1.2rem;
    .pair {    
        .bold,
        .stars-wrapper {
            margin: .5rem;
        }
    }
    .stars-wrapper {
        display: flex;
        align-items: center;
    }
    .count {
        color: #AAB2C1;
        margin-right: .5rem;

        @media (max-width: $iphone-5) {
            display: none;
        }
    }
    .stars {
        display: flex;
        align-items: center;
        margin: -2px;
        li {
            display: inline-block;
            height: 1.6rem;
            width: 1.6rem;
            background: url('../img/global-icons/star-primary.svg') center / contain no-repeat;
            margin: 2px;
            &.gray-star {
                background-image: url('../img/global-icons/star-gray.svg');
            }
        }
    }
}

.test {
    height: 800px;
}

//footer
footer {
    padding: 1.5rem 0 5rem;
    background-color: #303E45;
    color: $white;
    position: relative;
    .mail,
    .phone {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        display: inline-block;
    }
    .messenger-wrapper {
        display: flex;
        align-items: center;   
        .messengers {
            margin: -.2rem 0;
            margin-left: .5rem;
        }
    }
    .social {
        margin: 1rem -.5rem 2rem -.5rem;
        a {
            margin: .5rem;
            img{
                transition: .3s;
                &:hover {
                    transform: scale(1.1);
                }
                &:active {
                    transform: scale(.9);
                }
            }
        }
    }
    .small {
        font-size: 1.2rem;
    }
    &::before {
        content: '';
        position: absolute;
        top: 1px;
        width: 100%;
        height: 120px;
        background: url('../img/footer/wave.svg');
        background-size: cover;
        transform: translateY(-100%);
    }
    .title {
        font-size: 2.8rem;
        color: $primary;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 2.5rem;
        @include md-block() {
            font-size: 2.1rem;
        }
    }
    .footer-row {
        @include row-flex();
        .column-1,
        .column-2 {
            @include col();
            @include size(6);
            @include size-sm(12);
        }
    }
}
//FORMS
.input-wrapper {
    input,
    textarea {
        width: 100%;
        padding: 1.5rem 3rem;
        color: $deep-gray;
        transition: .3s;

        background: $input-color;
        border: 2px solid $gray;
        box-sizing: border-box;
        border-radius: 5rem;
        @include xs-block() {
            padding: 1.4rem 1.8rem;
        }
        &:hover {
            box-shadow: 0px 0px 5px $primary;
        }
        &:focus {
            border-color: $primary;
        }
    }
}
.subscribe-form {
    display: flex;
    justify-content: space-between;
    margin: -1rem;
    margin-bottom: 1rem;
    .input-wrapper {
        width: 100%;
    }
    .input-wrapper,
    .btn {
        margin: 1rem;
    }
}


// Utilities
.block {
    display: block;
}
.md-block {
    display: block;
    @include md(display, inline-block);
}
.text-center {
    text-align: center;
}
.primary {
    color: $primary;
}
.bold {
    font-weight: 900;
}
